.x {
  min-height: 100vh;
  background-color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .x {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .x {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .x {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
